# Copy this to .env.local and fill in your values
# Never commit .env.local to GitHub

GOOGLE_SHEET_ID=1T9WgxEgsDlQQT9OBV0jT_QZLtzPLpg10pajSVsYhxpU
GOOGLE_CLIENT_EMAIL=risk-quiz@bjorn-risk-quiz.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END RSA PRIVATE KEY-----"
